{% extends 'layouts/base.html' %}
  {% load mathfilters %}
  {% load percentage_tag %}
  {% load static %}

{% block pagetitle %}
Dashboard | Task Manager
{% endblock pagetitle %}


{% block pagecontent %}
<div class="d-flex justify-content-between align-items-center ">
  <div class="pagetitle mb-4 ">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">

      </ol>
    </nav>
  </div>
  <a href="{% url 'taskmanager:add_task' %}" class="btn btn-primary rounded-pill">
    <i class="ph-bold ph-list-plus"></i>Add New Task</a>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    
    {% if not request.user.is_superuser %}      

    <div class="col-lg-12">
      <div class="row">

        <div class="col-xxl-3 col-md-6">
          <div class="card info-card revenue-card">
  
            <div class="card-body">
              <h5 class="card-title">Total Tasks</h5>
  
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-list-check"></i>
                </div>
                <div class="ps-3">
                  <h6>{{task_list.count}}</h6>
                  <span class="text-muted small pt-2 ps-1">Tasks you have assigned</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="col-xxl-3 col-md-6">
        <div class="card info-card revenue-card">

          <div class="card-body">
            <h5 class="card-title">Task Completed</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                
                <i class="bx bx-task"></i>
              </div>
              <div class="ps-3">
                <h6>{{task_completed.count}}</h6>
                <span class="text-success small pt-1 fw-bold">{{task_completed.count|as_percentage_of:task_list.count}}</span> <span class="text-muted small pt-2 ps-1">Completed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card sales-card">

          <div class="card-body">
            <h5 class="card-title">Task Pending</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bx bx-timer"></i>
              </div>
              <div class="ps-3">
                <h6>{{task_list.count|sub:task_completed.count}}</h6>
                <span class="text-primary small pt-1 fw-bold">{{task_list.count|sub:task_completed.count|as_percentage_of:task_list.count}}</span> <span class="text-muted small pt-2 ps-1">Pending</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card customers-card">

          <div class="card-body">
            <h5 class="card-title">Task Expired</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-calendar-minus"></i>
              </div>
              <div class="ps-3">
                <h6>{{task_expired.count}} </h6>
                <span class="text-danger small pt-1 fw-bold">{{task_expired.count|as_percentage_of:task_list.count}}</span> <span class="text-muted small pt-2 ps-1">Expired</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    {% endif %}





    {% for task in task_list %}
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title" style="font-size: 24px; ">
            {% if task.is_completed %}
            <s>{{task.task}}</s>
            <i class="ph-fill ph-check-fat"></i>
            {% else %}
            {{task.task}}
            {% if request.user.is_superuser %}- <em class="text-danger">{{task.user}}</em> {% endif %} 
            {% endif %}
          </h1>

          {% if task.task_description %}
          <hr>
          <p>
          <p><em>Task Description :</em></p>
          {{task.task_description |safe}}
          </p>
          {% endif %}
          <hr/>
            <div class="d-flex justify-content-between mb-2 mb-4">
            <div class="start-date col-6">

              <div>Start Date :-&nbsp; {{task.start_date|date:'d-m-Y'}} </div>
              <div>Time :- {{task.start_date|time:'h:i:s a'}} </div>
            </div>
            <div class="due-date col-6">

              <div>Due Date :-&nbsp; {{task.due_date|date:'d-m-Y'}} </div>
              <div> Time:- {{task.due_date|time:'h:i:s a'}} </div>
            </div>
          </div>

          <div class="card-footer d-flex justify-content-between ">
            
            <div class="start-date col-6 " data-bs-toggle="tooltip" data-bs-placement="bottom" title="Created : {{task.created|date:'d-m-Y h:i:s a'}}">

              <div>Created On :-&nbsp; {{task.created|date:'d-m-Y'}} </div>
            </div>
            <div class="due-date col-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modified : {{task.modified|date:'d-m-Y h:i:s a'}}">

              <div>Modified On :-&nbsp; {{task.modified|date:'d-m-Y'}} </div>
            </div>
          </div>
            

          <div class="pt-3">
            <a href="{% url 'taskmanager:complete_task' task.pk %}" class="btn btn-info px-3 mx-2">
              {% if task.is_completed %} Reset Task {% else %} Complete {% endif %}
            </a>
            <a href="{% url 'taskmanager:edit_task' task.pk %}" class="btn btn-success px-3 mx-2">Edit</a>
            <a href="{% url 'taskmanager:delete_task' task.pk  %}" class="btn btn-danger px-3 mx-2">Delete</a>
          </div>
        </div>
      </div>
    </div>

    {% empty %}
    <div class=" d-flex justify-content-center align-items-center flex-column">
        <!-- <h1><i class="ph ph-smiley-x-eyes display-1"></i></h1> -->
        <img src="{% static 'img/smiley-x-eyes-fill.svg' %}" alt="" width="150px">
        <h3>No results found for <span class="text-danger">"{{query}}"</span> .</h3>
      </div>
    {% endfor %}

  </div>
</section>

{% endblock pagecontent %}