{% extends 'layouts/auth_base.html' %}

{% block pagetitle %}
Not Found 404 | Task Manager
{% endblock pagetitle %}

    
{% block pagecontent %}
<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>404</h1>
      <h2>The page you are looking for doesn't exist.</h2>
      <a class="btn" href="{% url 'taskmanager:dashboard' %}">Back to home</a>
      <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" class=" py-5" alt="Page Not Found" height="500px">
    </section>

  </div>
{% endblock pagecontent%}