{% extends 'layouts/base.html' %}


{% block pagetitle %}
change password | Task Manager
{% endblock pagetitle %}


{% block pagecontent %}
<div class="pagetitle mb-4">
  <h1>Edit Profile</h1>
  <nav>
    <ol class="breadcrumb">
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile d-flex justify-content-center">
  <div class="col-xl-10">

    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
          <li class="nav-item">
            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-edit">

              <a href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-change-password">
              <a href="{% url 'accounts:reset_password' %}">change password</a>
            </button>
          </li>
        </ul>
        <div class="tab-content pt-2">

          <div class="tab-pane fade show active profile-edit pt-3" id="profile-change-password">

            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}


              <div class="col-6">
                <label for="id_current_password" class="form-label">Current Password</label>
                <input type="password" name="current_password" class="form-control" id="id_current_password"
                  minlength="8" required>
                <div class="invalid-feedback">Please enter your password!</div>

                {% if errors %}
                <label id="id_current_password-error" class="invalid-feedback"
                  for={{form.current_password.id_for_label}}>
                  {{loginform.current_password.errors}}
                </label>
                {% endif %}
              </div>

              <div class="col-6">
                <label for="id_new_password" class="form-label">New Password</label>
                <input type="password" name="new_password" class="form-control" id="id_new_password" minlength="8"
                  required>
                <div class="invalid-feedback">Please enter your password!</div>

                {% if errors %}
                <label id="id_new_password-error" class="invalid-feedback" for={{form.new_password.id_for_label}}>
                  {{loginform.new_password.errors}}
                </label>
                {% endif %}
              </div>

              <div class="col-6 mb-4">
                <label for="id_confirm_password" class="form-label">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control" id="id_confirm_password"
                  minlength="8" required>
                <div class="invalid-feedback">Please confirm your password!</div>

                {% if errors %}
                <label id="id_confirm_password-error" class="invalid-feedback"
                  for={{form.confirm_password.id_for_label}}>
                  {{loginform.confirm_password.errors}}
                </label>
                {% endif %}

              </div>


              <div class="text-center">
                <button type="submit" class="btn btn-primary">Change Password</button>
              </div>
            </form><!-- End Profile Edit Form -->
          </div>
        </div>
      </div><!-- End Bordered Tabs -->
    </div>
  </div>
  </div>
</section>

{% endblock pagecontent %}