{% extends 'layouts/auth_base.html' %}


{% block title %}
    Task Manager | reset password
{% endblock title %}


{% block pagecontent %}
    
    <div class="container">
      
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          
          <div class="container">    
            {% if messages %}
            <div class="d-flex justify-content-end pt-4 pe-4">
              <div class="alert alert-danger alert-dismissible fade show " role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                {% for message in messages %}
                  {{ message}}
                {% endfor %}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          {% endif %}
  
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">
  
                  <div class="card-body">
  
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">Change Your Password</h5>
                      <p class="text-center small">Enter your Current Password to Change password</p>
                    </div>

                    <form class="row g-3 needs-validation" novalidate method="post">
                      {% csrf_token %}
                      <div class="col-12">
                        <label for="id_current_password" class="form-label">Current Password</label>
                        <input type="password" name="current_password" class="form-control" id="id_current_password" minlength="8" required>
                        <div class="invalid-feedback">Please enter your password!</div>
                        <label id="id_current_password-error" class="invalid-feedback" for={{form.current_password.id_for_label}}>
                          {{loginform.current_password.errors}}
                        </label>
                      </div>

                      <div class="col-12">
                        <label for="id_new_password" class="form-label">New Password</label>
                        <input type="password" name="new_password" class="form-control" id="id_new_password" minlength="8" required>
                        <div class="invalid-feedback">Please enter your password!</div>
                        <label id="id_new_password-error" class="invalid-feedback" for={{form.new_password.id_for_label}}>
                          {{loginform.new_password.errors}}
                        </label>
                      </div>

                      <div class="col-12">
                        <label for="id_confirm_password" class="form-label">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control" id="id_confirm_password" minlength="8" required>
                        <div class="invalid-feedback">Please confirm your password!</div>
                        <label id="id_confirm_password-error" class="invalid-feedback" for={{form.confirm_password.id_for_label}}>
                          {{loginform.confirm_password.errors}}
                        </label>
                      </div>
  
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Change password</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    
{% endblock pagecontent %}
