{% extends 'layouts/auth_base.html' %}


{% block title %}
    signup | Task Manager
{% endblock title %}


{% block pagecontent %}
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            {% if messages %}
                <div class="d-flex justify-content-end pt-4 pe-4">
                    <div class="alert alert-danger alert-dismissible fade show " role="alert">
                        <i class="bi bi-exclamation-octagon me-1"></i>
                        {% for message in messages %}
                            {{ message}}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endif %}

            <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src="static/img/logo.png" alt="">
                    <span class="d-none d-lg-block">Task Manager</span>
                </a>
                </div><!-- End Logo -->
                <div class="card mb-3">
                <div class="card-body">
                    <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                    </div>

                    <form class="row g-3 needs-validation" novalidate method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="col-12">
                        <label for="id_username" class="form-label">Username</label>
                        <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="ri-add-line ri-user-3-line"></i></span>
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please choose a username.</div>
                        </div>
                        <label id="id_username-error" class="invalid-feedback" for={{form.username.id_for_label}}>
                            {{loginform.username.errors}}
                        </label>
                    </div>
                    
                    <div class="col-12">
                        <label for="id_password1" class="form-label">Password</label>
                        <input type="password" name="password1" class="form-control" id="id_password1" required>
                        <div class="invalid-feedback">Please enter your password!</div>
                        <label id="id_password1-error" class="invalid-feedback" for={{form.password1.id_for_label}}>
                            {{loginform.password1.errors}}
                        </label>
                    </div>

                    <div class="col-12">
                        <label for="id_password2" class="form-label">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" id="id_password2" required>
                        <div class="invalid-feedback">Please confirm your password!</div>
                        <label id="id_password2-error" class="invalid-feedback" for={{form.password2.id_for_label}}>
                            {{loginform.password2.errors}}
                        </label>
                    </div>

                    <div class="col-12">
                        <label for="id_email" class="form-label">Your Email</label>
                        <input type="email" name="email" class="form-control" id="id_email" required>
                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                        <label id="id_email-error" class="invalid-feedback" for={{form.email.id_for_label}}>
                            {{loginform.email.errors}}
                        </label>
                    </div>

                    <div class="col-md-6">
                        <label for="id_first_name" class="form-label">First Name</label>
                        <input type="text" name="first_name" class="form-control" id="id_first_name" required>
                        <div class="invalid-feedback">Please enter your First Name</div>
                        <label id="id_first_name-error" class="invalid-feedback" for={{form.first_name.id_for_label}}>
                            {{loginform.first_name.errors}}
                        </label>
                      </div>
                      <div class="col-md-6">
                        <label for="id_last_name" class="form-label">Last Name</label>
                        <input type="text" name="last_name" class="form-control" id="id_last_name" required>
                        <div class="invalid-feedback">Please enter Last Name</div>
                        <label id="id_last_name" class="invalid-feedback" for={{form.last_name.id_for_label}}>
                            {{loginform.last_name.errors}}
                        </label>
                    </div>
                    
                    <div class="col-12">
                        <label for="id_mobile_number" class="form-label">Mobile Number</label>
                        <input type="text" name="mobile_number" class="form-control" id="id_mobile_number" required>
                        <label id="id_mobile_number" class="invalid-feedback" for={{form.mobile_number.id_for_label}}>
                            {{loginform.mobile_number.errors}}
                        </label>
                        </div>

                    <div class="col-12">
                        <label for="id_user_image" class="form-label">File Upload</label>
                        <input class="form-control" name="user_image" type="file" id="id_user_image">
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    
                    <div class="col-12">
                        <p class="small mb-0">Already have an account? <a href="{% url 'accounts:login' %}">Log in</a></p>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
{% endblock pagecontent %}
